.moviebody {
  height: 1000px;
  background-color: black;
}
.movie__tool {
  width: 100%;
  margin-left: 45px;
  margin-bottom: 72px;
}
.slide__text {
  color: #e5e5e5;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 25px;
  margin-left: 10px;
}
.container {
  width: 2300.6px;
  margin: 0 auto;
}
