.movietool {
  width: 100%;
  height: 1344.4px;
  background-color: black;
  font-family: "  NetflixSansBlack";
}
.original_header {
  width: 100%;
  height: 68px;
  background-color: black;
  line-height: 30px;
  align-items: center;
  margin: 0 auto;
}
.change_header {
  width: 100%;
  height: 68px;
  background-color: #222222;
  line-height: 30px;
  align-items: center;
  margin: 0 auto;
}
.container {
  width: 2300.6px;
  height: 1227.4px;
  background-image: url("../../../public/img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header {
  /* background-color: transparent; */
  width: 2300px;
  background-color: black;
  margin: 0 auto;
  color: #ffffff;
  margin-left: 80px;
}
.svg__icon {
  width: 108px;
  height: 32px;
  fill: #e50914;
  margin-right: 50px;
  margin-left: 50px;
}
.header__container {
  width: 2000px;
  height: 68px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
}
.logo {
  display: flex;
}
.logo > div {
  margin-right: 30px;
}
.header__right {
  display: flex;
}
.header__right > div {
  margin-right: 30px;
}
.header__right > button {
  margin-right: 30px;
}
.searchbar {
  width: 20.85px;
  height: 30.91px;
  background-color: none;
  border: none;
  color: white;
}
.buttondg1 {
  width: 20.85px;
  height: 30.91px;
  background-color: transparent;
  border: none;
}
.buttondg2 {
  width: 20.85px;
  height: 30.91px;
  background-color: transparent;
  border: none;
}

.bell {
  width: 19.76px;
  height: 25.6px;
  color: white;
}
.section__tool {
  position: relative;
  top: 16%;
  left: 2%;
}
.terrorimg {
  width: 936.58px;
  height: 397.89px;
  margin-bottom: 15px;
}
.text {
  font-size: 31px;
  color: #ffffff;
  font-weight: 540;
  margin: 15px 0;
  text-shadow: 3px 3px 3px #222222;
}
.button__tool {
  margin-top: 30px;
  display: flex;
}
.play__tool {
}
.play__btn {
  width: 154px;
  height: 56px;
  margin-right: 20px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  display: flex;
  padding: 7px 0px 5px 20px;
  border-radius: 10px;
  border: none;
}
.play__text {
  padding: 7px 0;
}
.detail__btn {
  width: 203.86px;
  height: 56px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  background-color: #6d6d6eb3;
  color: #ffffff;
}
.bs__icon {
  width: 40px;
  height: 42px;
  margin-left: 10px;
  margin-right: 7px;
}
.detail__icon {
  width: 37.6px;
  height: 37.6px;
  padding: 7px;
  margin-top: 2px;
  margin-left: 17px;
}
.detail__text {
  display: flex;
  margin-top: 13px;
}

.movie__tool {
  position: absolute;
  top: 1000px;
  width: 80%;
  margin-left: 45px;
}
.series__tool {
}
.romenticSlide {
  /* position: absolute; */
  height: 230px;
  /* width: 2200.6px; */

  background-color: black;
}
.slide__text {
  color: #e5e5e5;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 25px;
  margin-left: 10px;
}
