.main__header {
  width: 100%;
  height: 783.94px;
  background-color: #00000066;
  background-image: linear-gradient(45deg, black, transparent),
    url("../../../public/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 8px solid gray;
}
/* .main__header:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  height: 100%;
  width: 100%;
} */

.header {
  width: 100%;
  height: 99.98px;
  background-color: transparent;
  margin: 0 auto;
}
.header__container {
  width: 1437.22px;
  height: 56.59px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.container {
  width: 949.99px;
  height: 543.96px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 60px;
}

.svg__icon {
  width: 108px;
  height: 32px;
  fill: #e50914;
}
.logo {
}
.selectdg {
  width: 94.39px;
  height: 36.56px;
  margin: 0 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  background-color: transparent;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
}
.buttondg {
  width: 81.98px;
  height: 35.59px;
  font-size: 16px;
  margin: 0 10px;
  font-weight: 400;
  background-color: #e50914;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.container__box {
  width: 949.98px;
  height: 423.95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.cont1 {
  font-size: 64px;
  text-align: center;
  font-weight: 900;
  margin: 10px;
}
.cont2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px;
}
.cont3 {
  font-size: 19.2px;
  font-weight: 400;
  margin: 10px;
}
.cont__box {
  margin: 10px;

  display: flex;
}
.cont_input_start {
  width: 500px;
  height: 70px;
  border: none;
  font-size: 20px;
  color: #000;
  background-color: #ffffff;
  margin-right: 1px;
  -webkit-border-radius: 0;
}
.cont_input_start::placeholder {
  font-size: 16px;
}
.cont_input_start:focus {
  outline: none;
}

.cont__btn {
  width: 208.5px;
  height: 70px;
  border: none;
  font-size: 30px;
  background-color: #e50914;
  color: #ffffff;
  font-weight: 500;
}
